/* Global*/

/*Verde #00958E
azul escuro #0387A5
azul medio #469DC2 #87BFD8
azul claro #B8D9E8*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(223, 223, 223);
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #00958E;
}

.search-btn .fas {
    margin: 0;
    color: rgb(158, 158, 158);
}

.fas {
    color: #00958E;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

/* Topo da Pagina */

a .logo {
    width: 200px;
    max-height: 55px;
    margin-left: 50px;
}

#topo {
    background-image: url("images/trem.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;

}

#topo header {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 3px rgba(0, 149, 141, 0.37);
}

.search-box {
    position: fixed;
    right: 160px;   
    margin-right: 100px; 
    background-color: #00958E;
    height: 39px;
    border-radius: 40px;
    padding: 2px;
}

.search-box:hover > .search-txt{
    width: 170px;
}

.search-box:hover > .search-btn{
    background-color: #00958E;
}

.search-btn {
    color: rgba(0, 0, 0, 0.308);
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;   
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    line-height: 39px;
    width: 0;
}

/* Minha conta */
.identifier {
    display: flex;
    margin-right: 50px;
    padding: 16px 25px; 
    transition: 200ms;
}

.identifier:hover {
    cursor: pointer;
    background-color: rgb(0, 134, 128);
    color: white;
}

.identifier img {
    border-radius: 50%;
    max-width: 42px;
}

.identifier p {
    margin-left: 14px;  
    display: flex;
    align-items: center; 
}

.tooltip {
    visibility: hidden;
    background-color: #00958E;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    text-align: center;
    margin-top: 57px;            
    min-width: 197px;
}

.tooltip a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-size: 12pt;
    font-weight: 500;
    border-top: 1px solid white;
}
.tooltip a:hover {
    background-color: rgb(0, 134, 128);
}

.identifier:hover .tooltip {
    visibility: visible;
}

/* Atalhos */
.topo-footer {
    margin-top: 74px;
    background-color: #00958E;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.topo-footer a {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    max-width: 40%;
}

/* Parte da Compra */
#compra {
    width: 43%;
    background-color: #0387A5;
    margin: 50px 0 0 50px;
    height: 470px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
}

#compra .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#compra .input {
    max-width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 3px;
    background-color: white;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
}

#compra input {
    padding: 15px;
    width: 90%;
    border:none;
    line-height: 15pt;
    outline: none;
    font-size: 12pt;
}

#compra .quant {
    padding: 30px;
    width: 450px;
}

#compra button {   
    margin: 20px auto 0;
    padding: 10px;
    width: 300px;
    font-size: 16pt;
    font-weight: 700;
    color: white;
    background-color: #00958E;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
    cursor: pointer;
    outline: none;
}

/* Contedo */
.rota {
    margin: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
    border: #00958E 2px solid;
    border-right: none;
}

.mapa img {
    max-width: 700px;
    max-height: 100%;
}

.mapa img:hover {
    max-width: 700px;
}

.info {
    padding: 30px;
    background-color: white;
    text-align: center;
    font-size: 16pt;
    max-height: 335px;
}

.content {
    margin-top: 60px;
    width: 93%;
    margin: auto;
}


main {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
    margin-top: 60px;
    height: auto;
}

main:active {
    box-shadow: none;
}

main img {
    max-width: 300px;
}

.image {  
    padding: 40px;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.description {  
    font-size: 14pt;
    padding: 25px;
    text-align: justify;
}

.description h1 {
    color: #0387A5;
    padding-bottom: 25px;
}

.description p {
    text-indent: 30px;
    font-size: 14pt;
    font-weight: 400;
    color: #201E1E;
}

.description a{
    text-decoration: none;
    color: #00958E;
    font-weight: bold;
}

.description a:hover .fas{
    margin-left: 20px;
    transition: 300ms;
}

#back {
    margin: 60px 0;
    height: 250px;
    background-image: url("images/vagao.jpg");
    background-size: 102%;
    background-position: center;
    background-attachment: fixed;   
    transition: 400ms;
}

#back:hover {
    background-size: 100%;
}

.back-compra {
    margin: auto;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    color: white;
    font-size: 16pt;
    line-height: 40px;
}

.back-compra button {
    margin-top: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: #0387A5;
    padding: 10px;
}

footer img {    
    width: 100%;
    max-height: 100px;
}

footer {
    margin-top: 50px;
    background-color: #201E1E;
    color: white;
    height: 300px;
}
    













    
    