/* Global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

button, a {
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00958E;
}

.search-btn .fas {
    margin: 0;
    color: rgb(158, 158, 158);
}

.fas {
    color: #00958E;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

strong {
    color: #0387A5;
}

#container-top { /*img de fundo*/
    background-image: url("../images/topo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 550px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0px 10%;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #00958E;
    z-index: 10;
}

header a img {
    width: 200px;
}

.search-box {  /*Area de Pesquisa*/
    margin: 15px 170px 0; 
    position: fixed;
    background-color: #00958E;
    height: 39px;
    border-radius: 40px;
    padding: 2px;
    right: 160px;   
}

.search-box:hover > .search-txt{
    width: 170px;
}

.search-box:hover > .search-btn{
    background-color: #00958E;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: white;
    color: rgba(0, 0, 0, 0.308);
    border-radius: 50%;
}

.search-txt {
    float: left;
    width: 0;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 16px;
    line-height: 35px;
    transition: 0.3s;
}

.menu {  /* Minha conta */
    display: flex;
    align-items: center;
    padding: 14px; 
    transition: 200ms;
}

.menu:hover {
    background-color: rgb(0, 134, 128);
    color: white;
    cursor: pointer;
}

.menu img {
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
}

.tooltip {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 115px;            
    width: 169px;
    right: 10%;
    background-color: #00958E;
    text-align: center;
    visibility: hidden;
}

.tooltip a {
    padding: 10px 0;
    font-size: 16px;
    color: white;
    border-top: 1px solid rgb(0, 134, 128);
}

.tooltip a:hover {
    background-color: rgb(0, 134, 128);
}

.menu:hover .tooltip {
    visibility: visible;
}

#top-nav {  /* Atalhos */
    display: flex;
    margin-top: 69px;
    background-color: #00958E;  
}

#top-nav a {
    padding: 5px 20px;
    margin-left: 85px;
    color: white;
    font-size: 16px;
    transition: 200ms; 
}

#top-nav a:hover {
    background-color: white;
    color: #00958E;
}

/* Parte da compra */
#buy {
    margin: 3%;
    width: 45%;
    background-color: #0387A5;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
}

#buy .content {
    display: flex;
    flex-direction: column;
}

#buy .input {
    margin: 10px auto;
    width: 79%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
}

#buy input {
    padding: 5%;
    width: 92%;
    line-height: 20px;
    font-size: 16px;
    border:none;
    outline: none;
}

.input .passagem {
    padding: 35px; 
}

#buy button {   
    margin: 1% auto 4%;
    padding: 2%;
    width: 50%;
    font-size: 20px;
    color: white;
    background-color: #00958E;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
}

/*carrossel*/

#fundo-vantagem {
    position: absolute;
    top: 235px;
    right: 0;
    width: 30%;
    height: 250px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(255, 255, 255, 0.884);
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
}

#vantagens {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#vantagens img {
    width: 80px;
    margin-bottom: 5px;
}

#vantagens p {
    margin-top: 10px;
}

.item-1, .item-2, .item-3 {
    display: block;
    position: absolute;
    top: 235px;
    width: 30%;
    height: auto;
    padding: 25px 0 0 90px;
    font-size: 16px;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}

.item-1{animation-name: anim-1;} .item-2{animation-name: anim-2;} .item-3{animation-name: anim-3;}

@keyframes anim-1 {
    0%, 8.3% { right: 3%; opacity: 0; }
    8.3%,25% { right: 3%; opacity: 1; }
    33.33%, 100% { right: 3%; opacity: 0; }
}
@keyframes anim-2 {
    0%, 33.33% { right: 3%; opacity: 0; }
    41.63%, 58.29% { right: 3%; opacity: 1; }
    66.66%, 100% { right: 3%; opacity: 0; }
}
@keyframes anim-3 {
    0%, 66.66% { right: 3%; opacity: 0; }
    74.96%, 91.62% { right: 3%; opacity: 1; }
    100% { right: 3%; opacity: 0; }
}

/* Conteudo principal */

.main-principal {
    width: 92%;
    margin: 60px auto;
}

main {
    display: flex;
    margin-top: 90px;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
    background-color: white;
}

main img {
    width: 600px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
}

.description {  
    padding: 50px; 
    text-align: justify;
    line-height: 30px;
}

.description h1 {
    color: #0387A5;
    padding: 0 0 32px 20px;
    font-size: 30px;
}

.description p {
    text-indent: 16px;
    font-size: 18px;
}

.description a{
    text-decoration: none;
    color: #00958E;
    font-size: 18px;
    font-weight: bold;
}

.description a:hover .fas{
    margin-left: 20px;
    transition: 300ms;
}

/* btn voltar para compra */

#back {
    background-image: url("../images/back.jpg");
    background-size: 102%;
    background-position: center;
    background-attachment: fixed;   
    transition: 400ms;
    
}

#back:hover {
    background-size: 100%;
}

.back-compra {
    margin: auto;
    padding: 60px 0;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 40px;
}

.back-compra button {
    margin: 15px 0 0;   
    border-radius: 5px;
    color: white;
    background-color: #0387A5;
    padding: 10px;
}

/* Footer da pagina */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 35px;
    margin-top: 50px;
    background-color: #201E1E;
    color: white;
    font-size: 16px;
}

footer h3 {
    font-weight: bold;
    padding-bottom: 10px;
}

footer .line {
    grid-column: span 3;
    grid-row: 1;
    display: inline-block;
    background-color: rgb(0, 134, 128);
    width: 100%;
    height: 100%;
}

footer .sobre {
    grid-column: 1;
    grid-row: 2;
    width: 80%;
    margin: auto;
}

footer .logo {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    width: 300px;
}

footer .social {
    grid-column: 3;
    grid-row: 2;
    width: 80%;
    margin: auto;
}

footer .social p {
    padding: 5px;
}

footer .social .fab {
    color: silver;
    margin-left: 10px;
    transition: 200ms;
}

footer .social .fab:hover {
    color: white;
}

address {
    text-align: center;
    color: silver;
    grid-column: span 3;
    width: auto;
}

hr {
    margin-bottom: 7px;
}

/* Pagina estações */

.banner img {
    width: 100%; 
    height: 150px; 
}
.banner p {
    width: 60%;
    color: white;
    position: relative;
    bottom: 100px;
    left: 40px;
    font-size: 14px;
}

.banner h2 {
    width: 60%;
    color: white;
    position: relative;
    bottom: 100px;
    left: 40px;
}

#pag2 {
    grid-template-columns: 65% 35%;
    display: grid;
    font-size: 16px; 
    margin-bottom: 50px;
}

#pag2 .estacoes {
    margin: auto;        
    width: 90%;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
    border-radius: 10px;                    
}

.estacoes .title {
    padding: 3% 0;
    background-color: #0387A5;
    color: white;
}

.estacoes .title h2, button {
    margin-left: 5%;
    padding-bottom: 1%;
}

.estacoes .title button {
    font-size: 14px;
    text-decoration: underline;
    background: transparent;
    color: white;
}

.estacoes .line p{
    visibility: hidden;
}

.estacoes .line ul {
    padding: 20px 50px;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.estacoes .line li {
    height: 50px;
    transition: 200ms;
}

.estacoes .line li:hover {
    height: 80px;
}

.estacoes .line li:hover p{
    visibility: visible;
    transition-duration: 200ms
}

.estacoes .line h3 i {
    position: relative;
    bottom: 20px;    
    padding-left: 95%;
    transition: 200ms;
}

.estacoes .line li:hover h3 i {
    transform: rotateX(180deg)
}

/* Tabela */
.tabela {
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
    padding: 20px;
}

.tabela p{
    text-align: justify;
    margin-bottom: 20px;
}

table {
    width: 100%;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.1);
    text-align: left;
    border-spacing: 2px;
    border-collapse: collapse;
    font-size: 16px;
}

.right {
    text-align: right;
}

tr.gray {
    background-color: rgb(238, 237, 237);
}

th {
    color: white;
    background-color: #00958E;
    padding: 3%;
}

td {
    padding: 3%;
}

aside img {
    width: 78%;
    margin: 40px 0 0 12%;
    border-radius: 10px;
}

footer .line button{
    position: absolute;
    left: 0;
    margin: 2% 0 0 44%;
    padding: 10px;
    border-radius: 5px;
    background-color: #0387A5;
    color: white;
}

/* Responsividade */

@media (max-width: 980px) {
    main {
        flex-direction: column;
    }
    main img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    .description h1 {
        text-align: center;
        padding-left: 0;
    }
    table {
        font-size: 14px;
    }
    #pag2 {
        grid-template-columns: 70% 30%;
    }
}

@media (max-width: 850px) {
    header {
        padding: 0 5%;
    }
    .search-box {
        margin: 15px 100px 0;
    }
    .tooltip {
        right: 5%;
    }
    #buy button {
        margin-top: 1%;
    }
    .item-1, .item-2, .item-3 {
        font-size: 12px;
        padding-left: 50px;
    }
    #pag2 {
        grid-template-columns: 100%;
        grid-template-rows: 32% 68%;
        padding: 0 20px;
    }
    aside {
        grid-row: 1;
        width: 90%;
        margin: auto;
    }
    aside img {
        display: none;
    }
    footer .line button {
        margin-left: 40%;
    }
    footer {
        font-size: 12px;
    }
    footer .logo {
        width: 200px;
    }
}

@media (max-width: 705px) {
    header a img {
        width: 150px;
    }
    #buy {
        margin: 3% auto;
        width: 80%;
    }
    #fundo-vantagem, .item-1, .item-2, .item-3 {
        display: none;
    }  
}

@media (max-width: 655px) {
    .search-box {
        display: none;
    }
    #top-nav a {
        margin-left: 20px;
    }
    #buy button {
        font-size: 16px;
    }
    .description p {
        text-indent: 12px;
        font-size: 16px;
    }
    .back-compra {
        font-size: 14px;
        line-height: 30px;
        padding: 20px 0;
    }
    #pag2 {
        padding: 0;
        font-size: 13px;
    }
    .line ul {
        padding: 15px;
    }
    footer {
        grid-template-rows: 55px 140px 30px;
        font-size: 10px;
    }
    footer .logo {
        width: 100px;
    }
}

@media (max-width: 400px) {
    header a img {
        width: 120px;
    }
    #top-nav a {
        margin-left: 5px;
    }
    .description {
        padding: 30px;
    }
    .banner {
        height: 170px;
    }
    footer .sobre {
        grid-column: span 2;
    }
    footer .logo {
        display: none;
    }
}

    